@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

/* Color Scheme */

:root {
  --body: rgb(16, 34, 69);
  --nav-panel-background: rgb(202, 220, 245);
  --form-background: white;
  --shadow: black;
  --table-border: #dedede;
  /* button stuff (should match --body) */
  --button-color: rgb(16, 34, 69);
  --button-text: white;
  --button-focus: lightgreen;

  --color-primary: #4447ea;
  --color-secondary: #fe7768;
  --color-secondary-shade: #e56b5e;
  --color-tertiary: #dfe6fd;
  --color-white: #ffffff;
  --color-grey: #f2f2f2;
}

/* Set all elements to use the Open Sans font */
body,
input,
textarea,
button,
select {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set the background color of all pages */
html,
body {
  background-color: var(--color-tertiary);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/**********************/
/* Navigation Section */
/**********************/

.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.logo__container {
  width: 100px;
}

.logo {
  width: 100%;
}

.nav__links {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
  padding: 30px 0;
  gap: 40px;
  background-color: var(--color-tertiary-tint);
}

.nav__link {
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  color: var(--color-primary);
  font-weight: 600;
  transition: all 0.3s ease;
}

.nav__link:hover {
  color: var(--color-secondary);
}

/************************/
/* Landing Page Section */
/************************/

.hero__section {
  background-color: var(--color-tertiary);
  height: 100vh;
}

.hero__section__grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.hero__section__description__container {
  padding-left: 30px;
}

.hero__section__description__container h1 {
  font-size: 50px;
}

.hero__section__description__container p {
  line-height: 2;
  font-size: 20px;
}

.hero__image__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__image {
  width: 80%;
}

.hero__button {
  background-color: var(--color-secondary);
}

h1 {
  text-align: center;
  padding: 20px;
}

/* Make the input tags look nicer */
input {
  height: 1.5em;
  margin: 0;
  padding: 0.25em 0.5em;
}

/* Make the select boxes look nicer */
select {
  height: 2.5em;
}

/* Make the select-multiple boxes look nicer */
select[multiple] {
  height: 7.5em;
}

/* Make the textarea inputs look nicer */
textarea {
  margin: 0;
  padding: 0.25em 0.5em;
}

/* Set the width on all tables */
table {
  width: 100%;
  margin-bottom: 20px;
}

/* Set the size of the help text in forms */
.helptext {
  display: block;
  font-size: 80%;
}

/* Make the login and sign-up forms look nicer */
.login-form,
.signup-form {
  background-color: var(--form-background);
  border-radius: 10px;
  box-shadow: 0 2px 4px var(--shadow);
  margin: auto;
  max-width: 400px;
  padding: 2em;
}

.delete-form {
  background-color: var(--form-background);
  border-radius: 4px;
  box-shadow: 0 2px 4px var(--shadow);
  margin: auto;
  max-width: 600px;
  padding: 2em;
  text-align: center;
}

/* Make the task and projects forms look nicer */
.task-form,
.project-form {
  background-color: var(--form-background);
  border-radius: 10px;
  box-shadow: 0 2px 4px var(--shadow);
  margin: auto;
  max-width: 600px;
  padding: 2em;
}

/* Make all of the headers the same */
.task-form h1,
.login-form h1,
.signup-form h1,
.project-list h1,
.project-form h1,
.project-detail h1 {
  margin-top: 0;
}

/* Add spacing to the section of the project detail */
.project-detail h2 {
  margin-top: 2em;
}

/* Standardize form layout using grid */
.task-form p,
.login-form p,
.signup-form p,
.project-form p {
  display: grid;
  align-items: center;
  column-gap: 10px;
  grid-template-columns: 100px 1fr;
}

/* Standardize help text positions in the grid */
.task-form p .helptext,
.login-form p .helptext,
.signup-form p .helptext,
.project-form p .helptext {
  grid-column-start: 2;
  grid-column-end: 3;
}

/* BUTTONS */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.hero__button__container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.button {
  text-align: center;
  padding: 14px 24px;
  box-shadow: 0px 0px 8px -2px var(--shadow);
  line-height: 1.25;
  background: var(--color-secondary);
  text-decoration: none;
  color: var(--button-text);
  font-size: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  position: relative;
  transition: all 0.2s ease 0s;
  overflow: hidden;
  border-radius: 10px;
  border: none;
}

.button:hover {
  background: var(--color-secondary-shade);
  cursor: pointer;
}

.button:focus {
  transform: translate(2px, 1px);
  background: var(--button-focus);
}

.learn__button {
  background: none;
  box-shadow: none;
  color: var(--color-primary);
  font-weight: 600;
}

.learn__button:hover {
  color: var(--button-text);
  background: var(--color-secondary);
}

/* button {
  padding: 14px 24px;
  box-shadow: 0px 0px 8px -2px var(--shadow);
  line-height: 1.25;
  background: var(--button-color);
  border: none;
  text-decoration: none;
  color: var(--button-text);
  font-size: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  position: relative;
  transition: all 0.2s ease 0s;
  overflow: hidden;
  border-radius: 10px;
  border: none;
}

button:hover {
  box-shadow: 2px 5px 9px -3px var(--shadow);
  transform: translate(-2px, -1px);
  cursor: pointer;
}

button:focus {
  transform: translate(2px, 1px);
  background: var(--button-focus);
  box-shadow: 0px 0px 8px -2px var(--shadow);
} */

.section__title {
  color: var(--color-primary);
}

/* .main {
  display: grid;
  grid-template-columns: 2fr 1fr;
} */

/* Add a nice box around the lists and details */
.my-tasks-list,
.project-list,
.project-detail {
  background-color: var(--color-white);
  border-radius: 10px;
  margin: auto;
  max-width: 800px;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

/* Add padding to the table header and table datum tags */
.my-tasks-list th,
.my-tasks-list td,
.project-list th,
.project-list td,
.project-detail th,
.project-detail td {
  padding: 0.5em;
}

/* Add a bottom border to the table header tags */
.my-tasks-list thead tr th,
.project-list thead tr th,
.project-detail thead tr th {
  border-bottom: 2px solid var(--table-border);
}

/* Center align the text on specific table header cells */
th,
.my-tasks-list tbody td:nth-child(2),
.my-tasks-list tbody td:nth-child(3),
.my-tasks-list tbody td:nth-child(4),
.project-list tbody tr td,
.project-detail tbody td:nth-child(2),
.project-detail tbody td:nth-child(3),
.project-detail tbody td:nth-child(4),
.project-detail tbody td:nth-child(5) {
  text-align: center;
}

/* Add horizontal rules to all rows except the last */
.my-tasks-list tbody :not(tr:last-child) td,
.project-list tbody :not(tr:last-child) td,
.project-detail tbody :not(tr:last-child) td {
  border-bottom: 1px solid var(--table-border);
}

footer {
  color: white;
  text-align: center;
}

footer a {
  color: white;
}

.fourofour {
  background-color: rgb(202, 220, 245);
}
/* add picture to nav bar */
.navbar-image {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

/* format profile pic on profile page */
.profile-pic {
  height: 200px;
  width: 200px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: url("http://www.electricvelocity.com.au/Upload/Blogs/smart-e-bike-side_2.jpg")
    center no-repeat;
  background-size: cover;
}

/* SECRET SAUCE */
.bump {
  display: inline-block;
  border-radius: 80%;
  transition: all 1s ease;
}

.bump:hover {
  border-radius: 80%;
  transform: translateY(-3px);
}
/**************************/
/* FEATURED IN SECTION */
/**************************/

.feature__section {
  padding: 4.8rem 0 3.2rem 0;
  background-color: var(--color-white);
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/**************************/
/* HOW IT WORKS SECTION */
/**************************/

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.how__section {
  padding: 9.6rem 0;
  background-color: var(--color-white);
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  /* height: 60%; */

  /* 60% of parent's width */
  padding-bottom: 60%;

  background-color: #fdf2e9;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-img {
  width: 35%;
  /* z-index: 10; */
}

.list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.filter__button {
  padding: 5px 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.filter__button:hover {
  background-color: var(--color-secondary-shade);
}

.sort__by__text {
  text-align: center;
  margin-bottom: 10px;
}

.comment-form {
  margin: 50px 0 20px 0;
}

.comment__input {
  width: 100%;
}

.no__tasks__message {
  margin-bottom: 20px;
}

.logo-welcome__container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar__welcome__message {
  font-weight: 600;
}
