{% extends 'base.html' %}
{% load static %}

{% block title %}
Profile
{% endblock title %}

{% block main %}
{% include 'navbar.html' %}
<div class="profile-page">
    <h2>Hi, {{ user.username }}!</h2>
    <img class="profile-pic" src="{{ user.profile.avatar.url }}" alt="Profile picture">
    {% if user_form.errors %}
    <div role="alert">
        <div id="form_errors">
            {% for key, value in user_form.errors.items %}
            <strong>{{ value }}</strong>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <legend>Profile info</legend>
                {{user_form}}
                {{profile_form}}
            </fieldset>
            <div>
                <button type="submit">Update</button>
            </div>
        </form>
        <a href="{% url 'change-password' %}">Change password</a>
    </div>
</div>
{% endblock main %}