{% extends 'base.html' %}
{% block main %}
{% include 'navbar.html' %}
<main>
    <div class="login-form">
        <h1>Login</h1>
        <form method='post'>
            {%csrf_token%}
            {{form.as_p}}
            <button class="button" type="submit">Login</button>
        </form>
    </div>
</main>
{% endblock main %}