{% load static %}

<nav class="nav">
  <div class="logo-welcome__container">
    <a href="{% url 'home' %}" class="logo__container">
      <img class="logo" src="{% static 'images/logo.png' %}" alt="">
    </a>
    {% if request.user.is_authenticated %}
    <div class="navbar__welcome__message">
      Welcome, <a class="nav__link" href='{%url "users-profile" %}'>{{ request.user }}
        <img class="navbar-image" src="{{ user.profile.avatar.url }}" alt="Profile picture">
      </a>
    </div>
    {% endif %}
  </div>
  <ul class="nav__links">
    {% if request.user.is_authenticated %}
    <li class="nav__item">
      <a class="nav__link" href={% url "show_my_tasks" %}>My tasks</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href={% url "list_projects" %}>My projects</a>
    </li>
    {% comment %} <li>
      <form action="{% url 'search_results' %}" method="get">
        <input name="q" type="text" placeholder="Search..." />
      </form>
    </li> {% endcomment %}
    <li class="nav__item">
      <a class="nav__link" href={%url "users-profile" %}>My profile</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href={%url "logout" %}>Logout</a>
    </li>
    {% else %}
    <li class="nav__item">
      <a class="nav__link" href={% url "login" %}>Login</a>
    </li>
    <li class="nav__item">
      <a class="button" href={% url "signup" %}>Get Started</a>
    </li>
    {% endif %}
  </ul>
</nav>