{% extends 'base.html' %}
{% block title %}Projects{% endblock title %}
{% block main %}
{% include 'navbar.html' %}
<main class="main">
    <div class="project-list">
        <h1 class="section__title">
            My Projects
        </h1>
        <form method='GET'>
            <input type='text' name="q" placeholder="Search">
        </form>
        {% if projects %}
        {% if query %}
        <p>Showing results for "{{query}}"</p>
        <a href="{% url 'list_projects' %}">View All</a>
        {% endif %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                    <th>Host</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td><a href='{%url "show_project" project.pk%}'>{{project.name}}</a></td>
                    <td>{{project.tasks.all|length}}</td>
                    <td>{{project.host}}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>You are not assigned to any projects</p>
        {% endif %}
        <a class="button" href={%url "create_project" %}>Create A New Project</a>
    </div>
</main>
{% endblock main %}
{% block footer %}
<footer>
    <span>
        {% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}&q={{ query }}">Previous</a>{%
        endif %}
    </span>
    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
    <span>
        {% if page_obj.has_next %}<a href="?page= {{ page_obj.next_page_number }}&q={{ query }}">Next</a>{% endif %}
    </span>
</footer>
{% endif %}
{% endblock footer %}